<form class="form-horizontal main-form formgeneratetests" action="/fake_barcodes" method="post">
  <h3 align="center">Create Test Barcodes</h3>
  <h3 align="center"><small>Enter Amounts</small></h3>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">SOSS</span>
    <input type="text" class="form-control" placeholder="Please enter amount of SOSS's" name="amountsoss">
  </div>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">Pallet</span>
    <input type="text" class="form-control" placeholder="Please enter amount of Pallets" name="amountpallets">
  </div>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">Cartons</span>
    <input type="text" class="form-control" placeholder="Please enter amount of Cartons" name="amountcartons">
  </div>
  <input type="submit" value="submit" class="submit" align="center">
</form>