  <div class="container">
  <div class="center">
      <button type="button" class="btn btn-stroke"><a href="/feedback">Give Feedback</a></button>
    </div>
  <h1>How to use "Generate Fake Barcodes"</h1>
  <h3>1) <small>Enter the amount of SOSS's you want barcodes for.</small></h3>
  <h3>2) <small>Enter how many Pallets will be on each SOSS</small></h3>
  <h3>3) <small>Enter the amount of Cartons per Pallet</small><h3>
  <h3>Submit <small><br>Heroku might take a minute to wake up again, however the barcodes will appear in a few seconds</small></h3>
  <br><br><br>

  <h1>How to use "Create Barcodes"</h1>
  <h3>1) <small>Enter the number that follows PWZ-xxxxx.</small></h3>
  <h3>2) <small>The smart generator will automatically create barcodes based off the last barcode entered. To specify the starting code, enter a code on the "Create Barcodes" screen. Then click on the SmartGenerator and enter the amount of codes you want. If those codes have been used before they will be skipped.</small></h3>
  <h3>Submit <small><br>Heroku might take a minute to wake up again, however the barcodes will appear in a few seconds</small></h3>
  <br><br><br>
  <h2>Current Version</h2>
  <h3>1.3.1</h3>
  <br>
  <h3>Whats New</h3>
  <p>Can create barcodes and add them to the database</p>
  <p>You can more easily generate custom pwz barcodes</p>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>





<div class="container">
  <h3>Next Updates</h3>
  <p>Version 1.4 Update</p>
  <p>Will have a reset button, to clear the database. Also you will be able to delete barcode entries by the soss number.</p>

  <br>
  <br>

  <p>Version 1.5</p>
  <p>UpLoad CSV files and convert to Barcodes from your own computer</p>
</div>
