
.sosstest{
  text-align: center;
  width: 340px;
  float: left;
  position: relative;
  height: 250px;
}
.pallettest{
  text-align: center;
  width: 850px;
  height: 250px;
  margin: 5px;
  float: right;
  position: relative;
}
.cartontest{
  height: 250px;
  width: 300px;
  margin: 5px;
  float: right;
  position: relative;
}
.container{
  width: 880px;
}
.cartoncontainer{
  width: 800px;
}
.detailed-result{
  margin-left: 20px;
}
.single-barcode{
  margin-left: 20px;
}
.spacer{
  width: 90%;
  border: 2px dashed black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar{
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
.top-buttons{
  width: 280px;
}
.btn-active{
  background-color: rgb(50,117,184);
  border: 1px solid rgb(50,117,184);
}
#versionid{
  float: right;
  margin-top: -80px;
  margin-right: 10px;
}
.page-header{
  background-color: lightblue;
  padding: 40px;
  margin-top: -20px;
}

.returned-data{
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}
.center{
  margin-right: auto;
  margin-left: auto;
  width: 120px;
}





a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}














