<% @barcodes.each do |code| %>
<div class="code">
  <br>
    <img id="<%= code.soss_number %>"/>
      <script>
        $("#<%= code.soss_number %>").JsBarcode("PWZ-<%= code.soss_number %>",{displayValue:true});
      </script>
  <br><br>
</div>
<%end%>