<%= @barcode.soss_number %>
      <br>
      <img id="<%=@barcode.soss_number%>"/>
      <script>
      $("#<%=@barcode.soss_number%>").JsBarcode("PWZ-<%=@barcode.soss_number%>",{displayValue:true});
      </script>
      <br><br>
</div>