<div class="container">
<h1>How to use</h1>
<h3>1) <small>Enter the amount of SOSS's you want barcodes for.</small></h3>
<h3>2) <small>Enter how many Pallets will be on each SOSS</small></h3>
<h3>3) <small>Enter the amount of Cartons per Pallet</small><h3>
<h3>Submit <small><br>Heroku might take a minute to wake up again, however the barcodes will appear in a few seconds</small></h3>
<br><br><br>
<h2>Current Version</h2>
<h3>1.2.2</h3>
<br>
<h3>Whats New</h3>
<p>Added CSS to make barcodes better</p>
<p>I have removed the database for increased performance. Heroku is giving me issues with my last set up. So for now the app only generates barcodes for testing.</p>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>





<div class="container">
  <h3>Next Updates</h3>
  <p>Version 1.3 Update</p>
  <p>Will have limiter on how many codes you can generate. 100soss, 200pallets and 10000cartons. Will activate the comment box for suggestions. Will allow for creation of BOL SOSS data.</p>

  <br>
  <br>

  <p>Version 1.5</p>
  <p>UpLoad CSV files and convert to Barcodes from your own computer</p>
</div>