<ul class="nav nav-pills appinfo">
   <li>Site Visits <span class="badge"><%=@sitevisits%></span></li><br>
   <li>Barcodes Created <span class="badge"><%=@barcodescreated%></span> </li><br>
   <li>Barcodes Generated <span class="badge"><%=@barcodesgenerated%></span></li>
</ul>