<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="js/EAN_UPC.js"></script>
  <script src="js/CODE128.js"></script>
  <script src="js/JsBarcode.js"></script>
  <script src="js/application.js"></script>
  <title></title>
</head>

<body>

<div class="page-header">
   <h1>ChronosKit <small> Barcode Generator</small></h1>
   <p id="versionid">version 1.2.2</p>
</div>
<div class="navbar">
  <div class="btn-group top-buttons">

     <button type="button" class="btn btn-primary test"><a href="/generaterandomsoss">Create Test Barcodes</button>
     <button type="button" class="btn btn-warning help"><a href="/help">Help</a></button>
     <button type="button" class="btn btn-danger help"><a href="/reset">Reset</a></button>
   </div>
</div>

<!-- <form class="form-horizontal main-form formsearch" action="/removeCompletedData" method="post">
  <h3 align="center">Check Database for Errors</h3>
  <input type="submit" value="submit" class="submit" align="center">
</form> -->

<!-- <form class="form-horizontal main-form formsearch" action="/cleardata" method="post">
  <h3 align="center">Clear Database</h3>
  <input type="submit" value="submit" class="submit" align="center">
</form> -->

  <%= yield %>

</body>
</html>
