<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="js/EAN_UPC.js"></script>
  <script src="js/CODE128.js"></script>
  <script src="js/JsBarcode.js"></script>
  <script src="js/application.js"></script>
  <title></title>
</head>

<body>

<div class="page-header">
   <h1>ChronosKit <small> Barcode Generator</small></h1>
   <p id="versionid">version 1.1.2</p>
</div>
<div class="navbar">
  <div class="btn-group top-buttons">
     <button type="button" class="btn btn-primary new">Create New BOL SOSS</button>
     <button type="button" class="btn btn-primary random">Load Random BOL SOSS</button>
     <button type="button" class="btn btn-primary test">Create Test Barcodes</button>
     <button type="button" class="btn btn-primary search">Search Database</button>
     <!-- <button type="button" class="btn btn-warning help"><a href="/help">Help</a></button> -->
     <!-- <button type="button" class="btn btn-danger help"><a href="/reset">Reset</a></button> -->
   </div>
</div>

<!-- random -->
<form class="form-horizontal main-form formrandom" action="/submit" method="post">
  <h3 align="center">Select random Sales Order</h3>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">Print</span>
    <input type="text" class="form-control" placeholder="Please enter amount of SOSS" name="amountso">
  </div>
  <input type="submit" value="submit" class="submit" align="center">
</form>

<!-- create -->

<!-- <form class="form-horizontal main-form formcreate" action="/create" method="post">
  <h3 align="center">Create Barcodes</h3>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">BOL Number</span>
   <input type="text" class="form-control" placeholder="required" name="bol_no">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">customer_order_no</span>
   <input type="text" class="form-control" placeholder="required" name="customer_order_no">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">Created At</span>
   <input type="text" class="form-control" placeholder="..." name="created_at">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_from_company</span>
   <input type="text" class="form-control" placeholder="..." name="ship_from_company">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_from_address</span>
   <input type="text" class="form-control" placeholder="..." name="ship_from_address">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_from_zip_code</span>
   <input type="text" class="form-control" placeholder="..." name="ship_from_zip_code">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_to_company</span>
   <input type="text" class="form-control" placeholder="..." name="ship_to_company">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_to_address</span>
   <input type="text" class="form-control" placeholder="..." name="ship_to_address">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">ship_to_zip_code</span>
   <input type="text" class="form-control" placeholder="..." name="ship_to_zip_code">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">date</span>
   <input type="text" class="form-control" placeholder="..." name="date">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">time</span>
   <input type="text" class="form-control" placeholder="..." name="time">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">dow</span>
   <input type="text" class="form-control" placeholder="..." name="cartonid">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">month</span>
   <input type="text" class="form-control" placeholder="..." name="month">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">hour</span>
   <input type="text" class="form-control" placeholder="..." name="hour">
  </div>
  <div class="input-group form-group form-group-lg">
   <span class="input-group-addon">Has Error?</span>
   <input type="text" class="form-control" placeholder="yes/ no" name="haserror">
  </div>
    <input type="submit" value="submit" class="submitNew" align="center">
</form> -->

<!-- create fake barcodes -->
<form class="form-horizontal main-form formgeneratetests" action="/generatetests" method="post">
  <h3 align="center">Create Test Barcodes</h3>
  <h3 align="center"><small>Enter Amounts</small></h3>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">SOSS</span>
    <input type="text" class="form-control" placeholder="Please enter amount of SOSS's" name="amountsoss">
  </div>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">Pallet</span>
    <input type="text" class="form-control" placeholder="Please enter amount of Pallets" name="amountpallets">
  </div>
  <div class="input-group form-group form-group-lg">
    <span class="input-group-addon">Cartons</span>
    <input type="text" class="form-control" placeholder="Please enter amount of Cartons" name="amountcartons">
  </div>
  <input type="submit" value="submit" class="submit" align="center">
</form>

<!-- search database -->
<form class="form-horizontal main-form formsearch" action="/search" method="post">
  <h3 align="center">Search Database</h3>
  <div class="input-group form-group form-group-lg">    
    <span class="input-group-addon">Find Last</span>
    <input type="integer" class="form-control" placeholder="Find Last _10_" name="amountlast">
  </div>
  <div class="input-group form-group form-group-lg">  
    <span class="input-group-addon">Find By</span>
    <input type="integer" class="form-control" placeholder="enter BOL or SOSS" name="findbynum">
  </div>
  <input type="submit" value="submit" class="submit" align="center">
</form>


<!-- <form class="form-horizontal main-form formsearch" action="/removeCompletedData" method="post">
  <h3 align="center">Check Database for Errors</h3>
  <input type="submit" value="submit" class="submit" align="center">
</form> -->

<!-- <form class="form-horizontal main-form formsearch" action="/cleardata" method="post">
  <h3 align="center">Clear Database</h3>
  <input type="submit" value="submit" class="submit" align="center">
</form> -->

  <%= yield %>

</body>
</html>
