<form class="form-horizontal main-form formsearch" action="/search" method="post">
  <h3 align="center">Search Database</h3>
  <div class="input-group form-group form-group-lg">    
    <span class="input-group-addon">Find Last</span>
    <input type="integer" class="form-control" placeholder="Find Last _10_" name="amountlast">
  </div>
  <div class="input-group form-group form-group-lg">  
    <span class="input-group-addon">Find By</span>
    <input type="integer" class="form-control" placeholder="enter BOL or SOSS" name="findbynum">
  </div>
  <input type="submit" value="submit" class="submit" align="center">
</form>